# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log
media/
staticfiles/
*.sqlite3

# Environment variables
.env

# VS Code
.vscode/
.idea/

# Mac/Linux (OS files)
.DS_Store
Thumbs.db

# Selenium / scraping outputs 
*.csv
*.json
*.txt