# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
ENV/

# Django
db.sqlite3
*.log
media/
staticfiles/
*.sqlite3

# Environment variables
.env

# VS Code
.vscode/
.idea/

# PyCharm
.idea/

# Mac/Linux (OS files)
.DS_Store

# Windows
Thumbs.db

# Celery
celerybeat-schedule
celerybeat.pid

# Redis
dump.rdb

# Selenium / scraping outputs 
*.csv
*.json
*.txt
*.crdownload

# mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Build files
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Local PostgreSQL exports/backups
*.sql